{%extends 'base.html'%}



{%block content%}
{%if user.is_authenticated %}
<h1>Add Your Post</h1>
<div class='container'>
<div class='form-group'>
<form method='POST' enctype='multipart/form-data'>
    {% csrf_token %}
    {{form.media}}
    {{form.as_p}}
    <button  class="btn btn-success">Post</button>
    <a href='{% url 'home'%}' type="button" class="btn btn-dark" >Back<a>
</div>
</div>
<script>
    var name={{user.id}};
    document.getElementById('authorname').value=name;
</script>
{%endif%}
{%endblock%}